# Firebase Configuration
FIREBASE_PROJECT_ID=proyecto-iot-9d46e
FIREBASE_DATABASE_URL=https://proyecto-iot-9d46e-default-rtdb.firebaseio.com
FIREBASE_APP_ID_ANDROID=1:477540588403:android:cec41185f447b26b934306
FIREBASE_APP_ID_IOS=1:477540588403:ios:cabebd9849dac14b934306
FIREBASE_APP_ID_WEB=1:477540588403:web:bff0564809183330934306

# Application Configuration
APP_NAME=Dispensador IoT
ENVIRONMENT=development
DEBUG_MODE=true

# Hardware Configuration
ALTURA_CONTENEDOR=20.0
